#logo {
            
}

.header {
        padding: 5px;
        margin-left: 10%; 
	margin-right: 10%;
	margin-top: 1%;
        width: 80%; 
        height: 5%; 
        border-bottom: 3px solid grey;
        
}

list.p {
        
}